/* Header */

header {
  height: auto;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid black;
  z-index: 5;
  justify-content: space-between;
  background: white;
  z-index: 5;
}

/* bottom border extend to edges? */

header p {
  padding-left: 15px;
}

.logo {
  display: inline-flex;
  margin: 0 10px 0 20px;
  color: MediumAquamarine;
  align-items: center;
}

.menu {
  display: inline-flex;
  margin: 0 30px 0 10px;
  flex-wrap: wrap;
  flex-grow: 0px;
}

a {
  text-decoration: underline;
  color: black;
  margin: 0 10px;
}

/* Content */

.container {
  border: 1px solid black;
  display: flex;
  margin: 20px 20px 20px 0;
  align-content: center;
  flex-direction: column;
  float: left;
}

.large {
  width: 630px;
  display: flex;
}

.medium {
  width: 300px;
  display: flex;
}

.small {
  width: 240px;
  display: flex;
}
