
/* Header */

header {
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid black;
  z-index: 5;
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* bottom border extend to edges? */

header p {
  padding-left: 15px;
}

.logo {
  display: inline-flex;
  margin: 0 10px 5px 20px;
  color: MediumAquamarine;
  align-items: center;
}

.menu {
  display: inline-flex;
  margin: 0 30px 0 10px;
  flex-wrap: wrap;
  flex-grow: 0px;
}

a {
  text-decoration: underline;
  color: black;
  margin: 0 10px;
}

/* Content */

.content p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.container {
  display: flex;
  margin: 40px 30px 0 0;
  align-content: space-between;
  flex-direction: column;
  float: left;
  position: relative;
  top: 70px;
}

.main-stories {
  width: 630px;
  display: flex;
}

h1,
h3 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

h1 {
  font-size: 40px;
}

.headline {
  background-image: url("../resources/images/main.png");
  display: inline-flex;
  height: 300px;

}

.story {
  padding-bottom: 70px;
}

.columns-below {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.photo-story-1 {
  background-image: url("../resources/images/fall.png");
  height: 300px;
}

.photo-story-2 {
  background-image: url("../resources/images/cameraman.png");
  height: 300px;
}

.column-1,
.column-2 {
  width: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.photo-story-3 {
  background-image: url("../resources/images/cat.png");
  height: 300px;
}

.other-stories {
  width: 300px;
  display: flex;
}

.news-bites {
  width: 240px;
  display: flex;
  flex-direction: column;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px auto;
}

.news-bites p {
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 0 20px 15px 20px;
}

/* Extra gray on bottom edge of News Bites */

.news {
  background-color: WhiteSmoke;
}

/* Footer */

.footer-logo {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-color: MediumAquamarine;
  margin: auto;
  font-family; Verdana;
  font-size: 12px;
  padding: 100px;
}
